/* Загальні стилі */
body {
  margin: 0;
  padding: 0;
}

a{
  color: black;
  text-decoration: none;    
  cursor: pointer;
}

/* Стилі для контейнера з логотипом та соцмережами */
.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 300px;
  background-image: url(Photo/Rectangle\ 63.png);
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4); 
}

.navigation ul {
  list-style-type: none;
  margin-top: 5px;
}

.navigation ul li {
  display: inline-block;
  margin-right: 18.5%;
}

.navigation ul li:first-child {
  margin-left: 0%;
}

.navigation ul li:last-child {
  margin-right: 0%;
}

.navigation ul li a {
  color: #525151;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.navigation ul li a:hover {
  color: #000000;
}

.text-container {
  text-align: center;
}

.text-container h1 {
  margin: 0;
  font-family: 'Cormorant Garamond';
  font-weight: 400;
  font-size: 150px; /* Змінив розмір шрифту */
  letter-spacing: 30px; /* Змінив відстань між літерами */
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-container p {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 30px; /* Змінив розмір шрифту */
  line-height: 30px;
  color: #000000;
  padding-top: 10px;
}

.doting-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  font-size: 20px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

/* Стилі для каруселі з фото */
.carousel {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.carousel-img {
  width: 100%;
  display: none;
}

.carousel img:first-child {
  display: block;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  border: none;
  color: black;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

/*About us*/
.about_us{
  background-image: url(Photo/Rectangle\ 62.png);
  height: 300px;
  border-bottom: solid;

}

.about_us h1{
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  letter-spacing: 0.1em;
}

.about_us P{
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.1em;
}

/*Breakfast*/
.breakfast {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /* Center the content horizontally */
}

.breakfast h1 {
  position: relative;
  text-align: center;
  padding-bottom: 90px;

  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.1em;
  font-style: normal;

  width: 100%; 
}

.breakfast-item {
  width: 540px;
  height: 100%;
  padding-right: 20px;
}

.breakfast-item img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
  width: 540px;
}

.breakfast-item p {
  text-align: center;

  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: 'Montserrat';
}

/*footer*/
.info {
  position: absolute;
  display: flex;
  justify-content: space-around;
  background-image: url(Photo/Rectangle\ 96.png);
  width: 100%;
  background-repeat: no-repeat;
}

/*Contact-info*/
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-info h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 0.1em;
  
  color: #0E0D0D;
}

.contact-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-info-item img {
  width: 18px;
  height: 14px;
  margin-right: 10px;
}

.contact-info-item p {
  margin: 0;

  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.1em;
  font-style: normal;
  
  color: #0E0D0D;
}

/*social_networking*/
.social_networking h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 0.1em;

  color: #000000;
}

.social_networking img{
  width: 18px;
  height: 15px;
}

.social_networking a{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;

  color: #000000;
}

/*location*/
.location{
  width: 300px;
}

.location h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 0.1em;

  color: #000000;
}

.location p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;

  color: #0E0D0D;
}
.contact-info, .social_networking, .location, .map-container {
  flex: 1; /* Встановлюємо рівну частку простору для кожного блоку, щоб вони займали однакову ширину */
  max-width: 300px; /* Встановлюємо максимальну ширину для кожного блоку, щоб вони не розтягувалися надто широко */
  margin: 0 10px; /* Додаємо зовнішні відступи між блоками */
}

/*Map*/
.map {
  position: relative; /* Позиціонуємо мапу відносно її контейнера */
}

.map-button {
  position: absolute; /* Розміщуємо кнопку абсолютно відносно контейнера */
  bottom: 10px; /* Відстань від нижнього краю */
  left: 10px; /* Відстань від лівого краю */
  z-index: 1; /* Значення z-index визначає "вертикальний" порядок елементів: елемент з більшим значенням z-index завжди перебуває вище, ніж елементи з меншим значенням. Встановлюємо вище значення z-index, щоб кнопка знаходилася поверх інших елементів. */
  background-color: transparent; /* Прозорий фон кнопки */
  border: 2px solid #000; /* Гранична лінія */
  color: #000; /* Колір тексту */
  padding: 10px 20px; /* Внутрішній відступ */
  cursor: pointer; /* Курсор при наведенні */
  transition: all 0.3s ease; /* Плавність зміни стилів */
}

.map-button:hover {
  background-color: #000; /* Змінюємо фон при наведенні */
  color: #fff; /* Змінюємо колір тексту при наведенні */
}


/* Медіа-запити для адаптивності 
@media only screen and (max-width: 480px) {
  .navigation {
    padding: 10px 10%;
  }
  .navigation ul {
    margin: 0;
    padding: 0;
  }
  .navigation ul li{
    margin-right: 20px;
  }
  .navigation ul li a{
    margin: 0 auto;
    font-size: 10px;
    letter-spacing: -0.03em;
  }  
  .header-container h1 {
    font-size: 45px;
    letter-spacing: 2vw;
  }
  .header-container p {
    font-size: 15px;
    line-height: 2vw;
  }
  .social-icons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 999;
  }
  .social-icons a {
    margin-left: 5px;
  }
  .social-icons a img {
    width: 5px;
    height: 5px;
    margin-left: 5px;
  }
}
*/

/*@media only screen and (max-width: 991px){
}*/
